.nav-wrapper {
    display: flex;
    /* background-color: rgba(42, 42, 47, 0.774); */
    height: 40px;
}

.nav-p-bg {
    display: flex;
    align-items: center;
    flex-direction: row;
    margin-left: 25px;
    font-family: math;
    color: var(--text-color);
}

.active {
    color: var(--link-color);
}

.right-links {
    display: flex;
    flex: 1;
    justify-content: flex-end;
    margin-right: 20px;
}